@import 'fontcustom';
// @import 'fonts/icomoon';

[data-icon]:before {
  font-family: 'fontcustom';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
.iconfont:before,.iconfont{
  font-family: 'fontcustom';
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.iconfont{

  @include adjust-font-size-to(24px);
  position:relative;
  margin-right: 0.3em;

  .api & {
      text-align:center;
  }
  .details &{
      text-align:left;
      position:absolute;
      left:0;
  }


  .md &.img{
    @include adjust-font-size-to(80px);
  }


}
