- if current_page.data.markdown_navigation
  .tree-nav-section
    ul
      == markdown_navigation(current_page)

- elsif current_page.data.array_navigation
  .tree-nav-section
    - if current_page.data.title != ''
      h3 = current_page.data.title
    == array_navigation(current_page, data.send(current_page.data.array_navigation))

- else
  - docs_tree(current_page.url).each do |dirname, dir|

    .tree-nav-section
      - if dirname.humanize != ''
        h3 = dirname.humanize
      ul
        - dir.each do |page|
          li class=((page.url==current_page.url)? 'active': '' )
            a href=page.url = docs_title page

ul.tree-help
  li
    a.btn.small.block href="https://github.com/aurajs/aura/zipball/master" Download .zip
  li
    a.btn.small.block href="https://github.com/aurajs/boilerplate/tarball/master" Download boilerplate
  li
    a.btn.small.block.faded href="https://github.com/aurajs/aura" View on Github