<div class="row">
  <div class="cell-6">
    <a href="//github.com/aurajs/aura" title="Aura on GitHub"><i class="icon-github"></i>GitHub</a>
    <a href="//stackoverflow.com/questions/tagged/aura" title="Aura on Stack Overflow"><i class="icon-stackoverflow"></i>Stack Overflow</a>
  </div>
  <div class="cell-6 small">
    <dl>
      <dt>Currently maintained by:</dt>
      <% data.footer.each do |title, p| %>
        <dd class="pull-left"><%= link_to p.name, "//github.com/#{p.github}", :title => p.name %></dd>
      <% end %>
    </dl>
  </div>
</div>