<nav class="nav" id="secondary-nav" role="navigation">
  <ul>
    <% data.nav.each do |title, nav| %>
    <li class="<%= "active" if nav[:url] == current_page.url %>">
      <a href="<%= nav[:url] %>" rel="<%= title %>">
        <%= title %>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
