/*------------------------------------*\
    Inspired by Foundation Grid
\*------------------------------------*/


  .row {
    @include box-sizing(border-box);
    width: 100%;
    max-width:$grid-max-width;
    min-width: $grid-min-width;
    padding:0 20px;
    margin: 0 auto;
    @include pie-clearfix;
  }

  /* To fix the grid into a certain size, set max-width to width */
  .row .row { min-width: 0;padding:0; }

  [class*="cell"]{ margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
  [class*="cell"]:first-child { margin-left: 0; }
  [class*="cell"] + [class*="cell"]:last-child { float: right; }
  [class*="cell"] + [class*="cell"].end { float: left; }

  .row .cell-1 { width: 4.27503%; }
  .row .cell-2 { width: 12.97730%; }
  .row .cell-3 { width: 21.67957%; }
  .row .cell-4 { width: 30.37999%; }
  .row .cell-5 { width: 39.08411%; }
  .row .cell-6 { width: 47.78638%; }
  .row .cell-7 { width: 56.48865%; }
  .row .cell-8 { width: 65.19092%; }
  .row .cell-9 { width: 73.89319%; }
  .row .cell-10 { width: 82.59546%; }
  .row .cell-11 { width: 91.29773%; }
  .row .cell-12 { width: 100%; }

  .row .prepend-1{ margin-left: 12.97730%; }
  .row .prepend-2{ margin-left: 21.67957%; }
  .row .prepend-3 { margin-left: 30.38184%; }
  .row .prepend-4 { margin-left: 39.08226%; }
  .row .prepend-5 { margin-left: 47.78638%; }
  .row .prepend-6 { margin-left: 56.48865%; }
  .row .prepend-7 { margin-left: 65.19092%; }
  .row .prepend-8 { margin-left: 73.89319%; }
  .row .prepend-9 { margin-left: 82.59546%; }
  .row .prepend-10 { margin-left: 91.29773%; }

  .row .centered { float: none; margin: 0 auto; }

  .row .prepend-1:first-child { margin-left: 8.626165%; }
  .row .prepend-2:first-child { margin-left: 17.328435%; }
  .row .prepend-3:first-child { margin-left: 26.030705%; }
  .row .prepend-4:first-child { margin-left: 34.731125%; }
  .row .prepend-5:first-child { margin-left: 43.435245%; }
  .row .prepend-6:first-child { margin-left: 52.137515%; }
  .row .prepend-7:first-child { margin-left: 60.839785%; }
  .row .prepend-8:first-child { margin-left: 69.542055%; }
  .row .prepend-9:first-child { margin-left: 78.244325%; }
  .row .prepend-10:first-child{ margin-left: 86.946595%; }
  .row .prepend-11:first-child{ margin-left: 95.648865%; }

  img, object, embed { max-width: 100%; height: auto; }
  img { -ms-interpolation-mode: bicubic; }

  @if $grid-mobile == true {
    @media only screen and (max-width: $grid-mobile-breakpoint) {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            width: 100%;
            min-width: 0;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .container {
            min-width: 0;
            margin-left: 0;
            margin-right: 0;
            padding:0;
        }

        .row {
            width: 100%;
            min-width: 0;
            margin-left: 0;
            margin-right: 0;
        }

        .row .row [class*="cell"] { padding: 0; }

        [class*="cell"] {
            width: auto !important;
            float: none;
            margin-left: 0;
            margin-right: 0;
        }

        [class*="cell"]:last-child {
            margin-right: 0;
            float: none;
        }

        [class*="cell"] + [class*="cell"]:last-child { float: none; }
        [class*="cell"]:after, [class*="cell"]:after { content:""; display:table; }
        [class*="cell"]:after { clear: both; }

        [class*="prepend"], .centered { margin-left: 0 !important; }

      }
  }


  .row-3{
      .cell-3{
          @include box-sizing(border-box);
          width:33.33333333333%;
          margin-left:0;
          padding:0 1em;
      }
  }

 .table-row {
    display:table;
    width:100%;
    > [class*="cell"] {
        float: none!important;
        height:100%;
        display:table-cell;
        vertical-align:middle;
        padding-left:4.4%;
    }
    > [class*="cell"]:first-child{
        padding-left:0;
    }
    > .prepend-1{  padding-left: 12.97730%; }
    > .prepend-2{  padding-left: 21.67957%; }
    > .prepend-3 { padding-left: 30.38184%; }
    > .prepend-4 { padding-left: 39.08226%; }
    > .prepend-5 { padding-left: 47.78638%; }
    > .prepend-6 { padding-left: 56.48865%; }
    > .prepend-7 { padding-left: 65.19092%; }
    > .prepend-8 { padding-left: 73.89319%; }
    > .prepend-9 { padding-left: 82.59546%; }
    > .prepend-10 {padding-left: 91.29773%; }

    > .prepend-1:first-child { padding-left: 8.626165%; }
    > .prepend-2:first-child { padding-left: 17.328435%; }
    > .prepend-3:first-child { padding-left: 26.030705%; }
    > .prepend-4:first-child { padding-left: 34.731125%; }
    > .prepend-5:first-child { padding-left: 43.435245%; }
    > .prepend-6:first-child { padding-left: 52.137515%; }
    > .prepend-7:first-child { padding-left: 60.839785%; }
    > .prepend-8:first-child { padding-left: 69.542055%; }
    > .prepend-9:first-child { padding-left: 78.244325%; }
    > .prepend-10:first-child{ padding-left: 86.946595%; }
    > .prepend-11:first-child{ padding-left: 95.648865%; }
  }