/*
 * Island Object
 * =============
 *
 * The ‘island’ object is basically a single
 * class used to box off content.
 * http://csswizardry.com/2011/10/the-island-object
 *
 *     <div class="island content">
 *        <div class="island promo">
 *            ...
 *        </div>
 *      </div>
 *
 *      <div class="island sub-content">
 *        <div class="island twitter">
 *          ...
 *        </div>
 *      </div>
 */
.island{
    @include border-radius(5px);
    @include position;
    @include rhythm-borders(1px, 1);
    background: $secondary-color;
    border-color:rgba(black,.1);
}
    .island > :last-child{
        margin-bottom: 0;
    }


.l-label{
  @include box-sizing(border-box);
  @include trailer(1);
  @include background-clip;
  display:table;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  overflow:hidden;
  font-family: Consolas, "Lucida Console", monospace;
  .l-label-lb,
  .l-label-title{
    @include adjust-font-size-to(13px,1,16px);
    display: table-cell;
    vertical-align: middle;
  }
  .l-label-lb{
    @include background-clip;
    width: 75px;
    background: #f7f7f7;
    border-right: 1px solid $border-color;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    &.GET{    color:#4B74A3;background-color:mix(#4B74A3, #f7f7f7, 25%);}
    &.POST{   color:#509A45;background-color:mix(#509A45, #f7f7f7, 25%);}
    &.DELETE{ color:#F20C00;background-color:mix(#F20C00, #f7f7f7, 25%);}
    &.PUT{    color:#F38630;background-color:mix(#F38630, #f7f7f7, 25%);}
  }
  .l-label-title{
      @extend .gray-dark;
      padding:.5em 1em;
  }
  .l-label--nested &{
      border-radius:4px 4px 0 0;
      @include trailer(0);
  }
}
.l-label--nested{
  box-shadow:inset 0 1px 0 white, 0 1px 1px rgba(black,.05);
}
.l-label-more{
    @include box-sizing(border-box);
    @include trailer(1);
    @include background-clip;
    border: 1px solid $border-color;
    border-top:0px;
    border-radius:0 0 4px 4px;
    padding:1em;

    // Inside title
    h4{
      @include position;
      border-bottom:1px solid $border-color;
      text-transform:uppercase;
      font-size:12px;
    }
    h4+ul{
      list-style-type:none!important;
      padding-left:0!important;
      li{@extend .clearfix;font-size:12px;}
      code{
        float:left;
        margin-right:20px;
        width:120px;
        background:none;
        outline:none;
        margin:0;
      }
    }

    >:last-child{@include trailer(0);}
}

.tile{
    @include trailer(1);
    @include rhythm-borders(1px, 1);
    border-color:$border-color;
    border-radius: 3px;
    display: block;
    .description,
    .title{
        @include trailer(0);
        @include adjust-leading-to(1.25);
    }
    .title{
      @extend .bold;
    }
    &:hover{
        border-color:$brand-color;
    }
}

.plans{
    display:table;
    table-layout: fixed;
    width:100%;
    > li{
      width:33.33333333%;
      display:table-cell;
      vertical-align:top;
      padding:5px;
    }
}
.plan{
  @include trailer(1.25);
  @include transition(box-shadow .3s ease);
  display:block;
  background-color:$white-color;
  border-radius:4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  border:1px solid $border-color;
  &:hover{
      box-shadow: 0 0 8px rgba($brand-blue, .25);
  }
}
.plan--focus{
  padding:.5em 0;
  margin-top:-.5em;
  box-shadow: 0 0 8px rgba($brand-blue, .25);
}
  .plan-header{
    @include rhythm-borders(0, .5);
    border-bottom:1px solid $border-color;
  }
    .plan-title{
      @include trailer(0);
      @extend .bold;
      @extend .font;
    }
    .plan-price{
      @include trailer(0);
      @extend .gray;
    }
  .plan-list{
    @include trailer(0);
    @include adjust-font-size-to(15px);
    @extend .gray-dark;
    @include leading-border(0, .75);
    @include box-sizing(border-box);
    height:71px;
    > li{
        padding:.25em 1em;
    }
  }
  .plan-footer{
    @include rhythm-borders(0, .75);
  }

.plan-or{
  @include trailer(1.5);
  h5{
    background-color:$secondary-color;
  }
}
