.label{
    // @extend .bold;
    @include border-radius(3px);
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: $gray-color;
    padding:1px 6px 2px;
    &.label-brand{
        background-color: $brand-blue;
    }
}