@include establish-baseline;

/*------------------------------------*\
    Text font imports
\*------------------------------------*/
@import "./icons";

/*------------------------------------*\
    Text font family
\*------------------------------------*/
.base-font,
.brand-font {
  font-family: 'Helvetica Neue', 'Helvetica,','Arial', sans-serif;
}

/*------------------------------------*\
    Text Helpers
\*------------------------------------*/
.upper{text-transform:uppercase;}
.small,small{@include adjust-font-size-to(11px)}
.medium{@include adjust-font-size-to(13px);}
.align-right{text-align:right;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.bold,strong{font-weight:700;}
.light{font-weight:300;}
.italic{font-style:italic;}
.no-trailer{margin-bottom:0!important;}
.no-padding-trailer{padding-bottom:0!important;}
.no-leader{margin-top:0!important;}
.no-padding-leader{padding-top:0!important;}

/*------------------------------------*\
    Text Colors
\*------------------------------------*/
.black{color:$black-color;}
.font{color:$font-color;}
.gray{color:$gray-color;}
.gray-light{color:$gray-light-color;}
.gray-dark{color:$gray-dark-color;}
.gray-darken{color:$gray-darken-color;}
.white{color:$white-color;}
.brand{color:$brand-color;}
.brand-dark{color:$brand-dark-color;}
.brand-light{color:$brand-light-color;}


/*------------------------------------*\
    Text Styles
\*------------------------------------*/
body {
  font:#{$base-font-size}/#{$base-line-height} 'Helvetica Neue', 'Helvetica,','Arial', sans-serif;
  font-weight:400;
  color:$font-color;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing:antialiased;
}


p,
.list{
  // @include adjust-font-size-to(16px);
  line-height: 1.5;
}

ul, ol, p{
  @include trailer(0.6);
}

input{
  @extend .base-font;
}

ul.disc-list{
  list-style-type:square;
  list-style-position:outside;
  padding-left:18px
}

blockquote{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1,h2,h3,h4,h5,h6{
   @extend .brand-font;
}

h1{
    @include adjust-font-size-to(26px);
    @include trailer(1);
    @extend .bold;
}

h2{
    @include adjust-font-size-to(20px, 1.625);
    @include trailer(1);
}

h3{
    @include adjust-font-size-to(17.333px, 1.5);
    @include trailer(1);
    @extend .bold;
}

h4{
    @include adjust-font-size-to(17.333px, 1.5);
    @include trailer(1);
}

h5{
    // @include adjust-font-size-to(16px);
    @include trailer(1);
    @extend .bold;
}

h6{
    // @include adjust-font-size-to(13px);
    @include trailer(1);
}

hgroup{
    > * {@include trailer(0);}
    @include trailer(1);
}

.small-title{
  @extend .gray-darken;
  @include adjust-font-size-to(13px,1);
  @extend .bold;
  @include trailer(1.25);
  @extend .upper;
  display:inline-block;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.quote{
    @include trailer(2);
    @extend .brand-font;
    p{@extend .brand-light;}
    .quote-content{
        @include adjust-font-size-to(18px,1.25,13px);
        @include trailer(.5);
        &:before {content: "\201c"; }
        &:after {content: "\201d"; }
    }
    .quote-author{
        @include adjust-font-size-to(14px,1,13px);
        @extend .align-right;
        opacity:.6;
        &:before{
            margin-right:.25em;
            content:"\2014";
        }
    }
}


