@mixin button-flat($background-color){
    $text-color: hsl(0, 0, 100%);
    @if lightness($background-color) > 70% {
        $text-color:       hsl(0, 0, 20%);
    }
    $inset-shadow:      adjust-color($background-color, $lightness:  15%);
    $border:            adjust-color($background-color, $lightness: -20%);
    box-shadow:inset 0 0 0 1px $border, inset 0 2px 0 0 $inset-shadow;
    background-color:$background-color;
    @include background-image(linear-gradient(rgba(255,255,255,.1), rgba(0,0,0,.1)));
    border-color:$border;
    color:$text-color;
    &:hover{
        $inset-shadow-hover:    adjust-color($background-color, $lightness:  5%);
        box-shadow:inset 0 0 0 1px $border, inset 0 2px 0 0 $inset-shadow-hover;
        background-color:darken($background-color, 5%);
        color:$text-color;
    }
    &:active {
        $inset-shadow-active: adjust-color($background-color, $lightness: -8%);

        @include box-shadow(inset 0 0 0 1px $border,
                            inset 0 0 9px 4px $inset-shadow-active,
                            inset 0 0 9px 4px $inset-shadow-active);
    }
};

@mixin button-emboss($background-color){
    @include background-image(none);
    box-shadow:0 5px 0 0 darken($background-color, 15%);
    &:hover{
        box-shadow:0 5px 0 0 darken($background-color, 15%);
    }
    &:active{
        top:2px;
        box-shadow:0 3px 0 0 darken($background-color, 15%);
    }
}
