.sidebar {
  @include position(fixed, 0px 0 0 0);
  border-right: 1px solid lighten($border-color, 10);
  @include box-shadow( 1px 0 3px 0 rgba($border-color, .15));
  overflow-y: scroll;
  overflow-x: hidden;
  width:225px;
  -webkit-font-smoothing:subpixel-antialiased;
  z-index: 100;
  height: 100%;
  .tree-help{
    li {
      margin-bottom: 10px;
    }
    padding:1.25em 2em;
    h3{
      @include adjust-font-size-to(14px);    
      @extend .bold;
      @include trailer(.5);
      color:$tertiary-color;
    }
    p{
      @include adjust-font-size-to(13px);
      @extend .gray-dark;
    }
  }

  .logo {
    display:block;
    height: 200px;
    width: 225px;
    @include hide-text;
    @include background-image-retina('/images/logos/aura_halo.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50% 25px;
  }

  .tree-nav-section {
    padding: .625em 1.25em;
    text-overflow: ellipsis;
    h3 {
      margin-bottom: .25em;
      border-bottom: 1px solid lighten($border-color, 10);
    }
    li {
      margin-bottom: .375em;
    }
    a {
      @include adjust-font-size-to(14px);
      color: $gray-dark-color;
      display:inline-block;
      @include transition(ease all .3s);
      &:hover,
      &:focus {
          color: $brand-dark-color;
      }
    }
    
    li{
      @include position;
      padding:.1em 0;
      a {
        padding-left: 5px;
        font-size: 0.9em;
      }
    }
    .active ul{
        display:block;
    }
    .active {
      &:after{
        content:"";
        @include position(absolute, 0px -2em 0px 0);
        width:2px;
        background:$brand-blue;
        height:24px;
      }
      > a{
        @extend .bold;
        color:$brand-blue;
        cursor:default;
        &:hover{
            text-decoration:none;
        }
      }
    }
    ul{
      @include trailer(0);
    }
    .btn,
    .btn:hover,
    .btn:focus {
      color: $white-color;
    }
  }
  .tree-nav-section:last-child{
    @include rhythm(1,0,0,0);
  }
}

section.documentation {

  -webkit-font-smoothing:subpixel-antialiased;
  background:#FFF url('/images/light_toast.png') 0 0;
  position: fixed;
  top: 60px;
  left: 225px;
  overflow-y: scroll;
  // overflow-x: hidden;

  width: 100%;
  width: -webkit-calc(100% - 225px);
  width: calc(100% - 225px);

  height: 100%;
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  

  > article{
    // @include box-sizing(border-box);
    // background-color:$white-color;
    // box-shadow:inset 0 1px 0 white, 0 1px 1px rgba(black,.05);
    // border-left: 1px solid lighten($border-color, 10);
    // @include box-shadow(inset 1px 0 3px 0 rgba($border-color, .15));
    // height: auto;

    > .row{
      padding: 0; 
      margin: 0;
      min-width: 0;
      width: auto;
      // border-left: 1px solid lighten($border-color, 10);
      // @include box-shadow(inset 1px 0 3px 0 rgba($border-color, .15));
      // box-shadow: rgba($border-color, 1) 1px 0 2px 0;
    }

    .documentation-header{
        max-width:720px;
        padding:1.25em 2em;
        h1{
          @include adjust-font-size-to(36px);
          // line-height:40px;
          @extend .brand-font;
          margin:0;
          padding:0;
          // color: $pink;
          // @extend .bold;
        }
        p{
          @include adjust-font-size-to(18px,1.5625);
          letter-spacing: .0525em;
          word-spacing: .125em;
          @extend .brand-font;
          @include trailer(0);
          @include padding-leader(.25);
        }
    }

    .documentation-body {
      // @include position;
      @include background-image(
          linear-gradient(right, rgba($border-color,0), lighten($border-color,10)),
          linear-gradient(right, rgba($white-color,0), rgba($white-color,0)),
          linear-gradient(rgba($brand-color,.01), rgba($white-color,0))
      );
      background-repeat: no-repeat;
      background-position:top center;
      background-size: 100% 1px, 100% 150px, 100% 150px;
      min-height:150px;
      padding: 2em 2em 4em;
      // max-width:720px;
      >*:first-child{
        margin-top: 0;
        padding-top: 0;
      }
      >*:last-child{
        margin-bottom: 0;
      }
      p > img {
        background: darken($white-color, 5);
        padding: .5em;
        border: 1px solid lighten($border-color, 10);
        @include border-radius(4px);
      }
      a.cover {
        height: 140px;
        overflow: hidden;
        display: block;
        padding: 0 .5em;
        border-bottom: 1px solid rgba($border-color, .5);
        @include border-radius(4px 4px 0 0);
        @include transition(all ease .3s);
        &:hover,
        &:focus {
          border-bottom-color: darken($border-color, 10);
          height: 160px;
          margin-top: -20px;
        }
        > img,
        > div {
          border: 1px solid rgba($border-color, .5);
          @include border-radius(4px 4px 0 0);
        }
        > div {
          height: 200px;
          width: 100%;
          background: rgba($border-color, .25);
          > span {
            text-align: center;
            display: block;
            @include adjust-font-size-to(26px,1.2);
            background: rgba($border-color, .5);
            height: 30px;
            width: 30px;
            @include border-radius(100%);
            margin: 60px auto;
            font-weight: 900;
            color: $white-color;
          }
        }
      }
      a:not(.btn){
        // border-bottom: 1px solid $brand-blue;
        // text-decoration: underline;
        &[href^="http://"],
        &[href^="mailto:"] {
          background: url(/images/link.png) center right no-repeat;
          padding-right: 13px;
        }
        &, &:visited{
          color: $brand-dark-color;
        }
        &:hover, &:active{
          color: $brand-dark-color;
          // border-bottom-color:$brand-dark-color;
        }
      }
      a:not(.btn).documentation-anchor {
        position: absolute;
        text-indent: -25px;
        @include transition(opacity 100ms);
        color:$gray-color;
        border:0!important;
        text-decoration:none;
        font-size: 18px;
        margin-left:.25em;
        opacity:0;
        &:hover{
          opacity:1!important;
        }
      }
      hr{
          @include leader(3);
          margin-bottom: -40px;
      }
      .api-sections {
        padding-top: 60px;
        // &:first-child {
        //   padding-top: 0;
        // }
      }
      h1, h2, h3, h4, h5, h6, dl{
        @include rhythm(0,.5,0,.5);
        @extend .brand-font;
        // @extend .bold;
        &:hover a:not(.btn).documentation-anchor{
          opacity:.75;
        }
        a {
          border:none;
        }
        code{
          font-weight:normal;
        }
      }

      h1 {
        margin-top: 50px;
        border-bottom: solid 2px lighten($border-color, 10);
        padding-left: 5px;
      }

      h2 {
        border-bottom: solid 1px lighten($border-color, 10);
        margin-top: 30px;
        // font-weight: 300;
        // font-size: 18px;
        + h3 {
          padding-top: 0;
        }
        .small {
          font-size: 12px;
          line-height: 3.5em;
          font-weight: 300;
        }
      }

      h2 small, h2 small a {
        color: $gray-color;
        font-size: 12px;
        text-decoration: none !important;
      }

      h2 span.params {
        color: $gray-color;
        // @include adjust-font-size-to(17.333px, 1.5);
      }

      ol,
      ul,
      blockquote,
      p{
          // font-size:14px;
          // line-height:1.5;
          // letter-spacing: .0625em;
          // word-spacing: .125em;
      }

      p + pre {
        margin-top: -1em;
      }

      ol,
      ul{
        @extend .list;
      }

      dl{
        dt{
          float: left;
        }
      }


      blockquote{
          font-family:inherit;
          @include trailer(1);
          @include apply-side-rhythm-border('left', 3px, 1);
          border-color:$border-color;
      }

      ol{
        li{
          list-style-type: decimal;
        }
      }
      .highlight {
        border: 1px solid $border-color;
        @include border-radius(4px);
        // overflow: auto;
        max-width: 720px;
      }
      // table
      table {
        @include adjust-font-size-to(14px,1.2);
        // @include trailer(3);
        width:100%;
        // border: 1px solid $gray-light-color;
        // border: 1px solid $border-color;
        border-collapse: collapse;
        // @include border-radius(4px);
        // display: block;
        thead th{
          font-weight:bold;
        }
        tbody{
          @extend .gray-dark;
          width: 100%;
          display: table;
        }
        &.table {
          border: 1px solid $border-color;
          @include border-radius(4px);
          display: block;
          max-width: 720px;
          tr {
            border-bottom: 1px solid $border-color;
            &:last-child {
              border-bottom: none;
            }
            > td {
              &:first-child {
                border-left: none;
              }
            }
          }
        }
        th,
        td {
          padding: 6px 8px;
          // border: 1px solid $gray-light-color;
          border-left: 1px solid $border-color;
          vertical-align: top;
          // font-size: 14px;
        }
        code {
          @include adjust-font-size-to(12px,1,13px);
          border-color:transparent;
          background-color:transparent;
        }
        .line-numbers,
        .code {
          border: none;
          padding: .25em .5em;
          pre {
            // border: 1px solid $border-color;
            // padding: .75em .825em;
          }
        }
        .line-numbers {
          border-left: none;
          background: $secondary-color;
          color: $border-color;
          text-align: center;
          width: 35px;
          pre {
            // text-align: center;
            // border: 1px solid $border-color;
            // border-right: none;
            // @include border-radius(4px 0 0 4px);
            // padding-left: .5em;
            // color: $gray-color;
            // background: $secondary-color;
          }
        }
        .code {
          @include background-image(
            linear-gradient(rgba($secondary-color,0), rgba($secondary-color,.5))
          );
          border-left: 1px solid $border-color;
          overflow: auto;
          max-width: 680px;
          // border-left: none;
          pre {
            // @include border-radius(0 4px 4px 0);
          }
        }
      }

      .guides {
        @include rhythm(0,0,0,1);
        h2 + .summary {
          margin-top: -0.625em;
        }
        .summary {
          font-size: 75%;
          h1, h2, h3, h4, h5, h6 {
            border-bottom: none;
            margin: .25em 0;
            padding-left: 0;
            padding-top: .25em;
            line-height: 1.2;
          }
        }
      }
      h1, h2, h3, h4, h5, h6, p, li {
        max-width: 720px;
      }
    }


  }

  .cell-4.gallery-item {
    min-height: 360px;
    padding-top: 40px;
    margin-left: 0;
    margin-right: 2.5%;
    h2 {
      border-bottom: none;
      // margin-bottom: 0;
      margin: 0 auto;
    }
    &:last-child {
      float: left;
      // clear: left;
    }
  }
}

.doc-loading,
.try-loading {
  @include position;
  background:image-url('doc-loading.gif') 50% 50% no-repeat;
  height:150px;
  display:block;
  &:after{
    @include position(absolute, 50% 0px 0 0px);
    @extend .gray;
    opacity:.75;
    margin-top:20px;
    font-size:13px;
    content:"Please wait.";
    text-align:center;
    display:block;
  }
  &.try-loading{
      height:252px;
      background-color:$white-color;
  }
}

