.sidebar {
  @include position(fixed, 0px 0 0 0);
  border-right: 1px solid lighten($border-color, 10);
  @include box-shadow( 1px 0 3px 0 rgba($border-color, .15));
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2em;
  width:$sidebar-width;
  z-index: 100;
  height: 100%;
  > div {
    .tree-help{
      li {
        margin-bottom: 10px;
      }
      padding:1.25em 2em;
      h3{
        @include adjust-font-size-to(14px);    
        @extend .bold;
        @include trailer(.5);
        color:$tertiary-color;
      }
      p{
        @include adjust-font-size-to(13px);
        @extend .gray-dark;
      }
    }

    .logo {
      display:block;
      height: 200px;
      width: 225px;
      @include hide-text;
      @include background-image-retina('/images/logos/aura_halo.png');
      background-size: 150px;
      background-repeat: no-repeat;
      background-position: 50% 25px;
    }

    .tree-nav-section {
      padding: .625em 1.25em;
      text-overflow: ellipsis;
      h3 {
        margin-bottom: .25em;
        border-bottom: 1px solid lighten($border-color, 10);
      }
      li {
        margin-bottom: .375em;
      }
      a {
        @include adjust-font-size-to(14px);
        color: $gray-dark-color;
        display:inline-block;
        @include transition(ease all .3s);
        &:hover,
        &:focus {
            color: $brand-dark-color;
        }
      }
      
      li{
        @include position;
        padding:.1em 0;
        a {
          padding-left: 0px;
          font-size: 0.9em;
        }
      }
      .active ul{
          display:block;
      }
      .active {
        &:after{
          content:"";
          @include position(absolute, 0px -2em 0px 0);
          width:2px;
          background:$brand-blue;
          height:24px;
        }
        > a{
          @extend .bold;
          color:$brand-blue;
          cursor:default;
          &:hover{
              text-decoration:none;
          }
        }
      }
      ul{
        @include trailer(0);
      }
      .btn,
      .btn:hover,
      .btn:focus {
        color: $white-color;
      }
    }
    .tree-nav-section:last-child{
      @include rhythm(1,0,0,0);
    }
  }
}

section.documentation {
  // -webkit-font-smoothing:subpixel-antialiased;
  background:#FFF url('/images/light_toast.png') 0 0;
  margin-top: 60px;
  margin-left: 225px;
  // overflow-y: auto;
  // overflow-x: hidden;
  // overflow: hidden;
  // width: 100%;
  // width: -webkit-calc(100% - 225px);
  // width: calc(100% - 225px);
  // // height: 100%;
  // height: -webkit-calc(100% - 60px);
  // height: calc(100% - 60px);
  
  > article {
    // THIS HACK HIDES THE SCROLL BARS FOR FF AND OLDER VERSIONS OF CHROME
    // position: fixed;
    // overflow-y: auto;
    // height: 100%;
    // width: 102%;
    // padding-right: 2%;
    > .row {
      margin: 0;
      padding: 0;
      @include rhythm(0,0,3,0);
      min-width: 0;
      width: auto;
    }

    .documentation-header {
      max-width:720px;
      padding:1.25em 2em;
      h1{
        @include adjust-font-size-to(36px);
        @extend .brand-font;
        margin:0;
        padding:0;
      }
      p {
        @include adjust-font-size-to(18px,1.5625);
        letter-spacing: .0525em;
        word-spacing: .125em;
        @extend .brand-font;
        @include trailer(0);
        @include padding-leader(.25);
      }
      a {
        color: $brand-dark-color;
      }
    }

    .documentation-body {
      @include background-image(
          linear-gradient(right, rgba($border-color,0), lighten($border-color,10)),
          linear-gradient(right, rgba($white-color,0), rgba($white-color,0)),
          linear-gradient(rgba($brand-color,.01), rgba($white-color,0))
      );
      background-repeat: no-repeat;
      background-position:top center;
      background-size: 100% 1px, 100% 150px, 100% 150px;
      min-height:150px;
      padding-left: 2em;
      @include rhythm(0, 1.5, 1.5, 0);
      >*:first-child{
        margin-top: 0;
        padding-top: 0;
      }
      >*:last-child{
        margin-bottom: 0;
      }
      p > img {
        background: darken($white-color, 5);
        padding: .5em;
        border: 1px solid lighten($border-color, 10);
        @include border-radius(4px);
      }
      a.cover {
        height: 140px;
        overflow: hidden;
        display: block;
        padding: 0 .5em;
        border-bottom: 1px solid rgba($border-color, .5);
        @include border-radius(4px 4px 0 0);
        @include transition(all ease .3s);
        &:hover,
        &:focus {
          border-bottom-color: darken($border-color, 10);
          height: 160px;
          margin-top: -20px;
        }
        > img,
        > div {
          border: 1px solid rgba($border-color, .5);
          @include border-radius(4px 4px 0 0);
        }
        > div {
          height: 200px;
          width: 100%;
          background: rgba($border-color, .25);
          > span {
            text-align: center;
            display: block;
            @include adjust-font-size-to(26px,1.2);
            background: rgba($border-color, .5);
            height: 30px;
            width: 30px;
            @include border-radius(100%);
            margin: 60px auto;
            font-weight: 900;
            color: $white-color;
          }
        }
      }
      a:not(.btn){
        &[href^="http://"],
        &[href^="mailto:"] {
          background: url(/images/link.png) center right no-repeat;
          padding-right: 13px;
        }
        &, &:visited{
          color: $brand-dark-color;
        }
        &:hover, &:active{
          color: $brand-dark-color;
        }
      }
      a:not(.btn).documentation-anchor {
        position: absolute;
        text-indent: -25px;
        @include transition(opacity 100ms);
        color:$gray-color;
        border:0!important;
        text-decoration:none;
        font-size: 18px;
        margin-left:.25em;
        opacity:0;
        &:hover{
          opacity:1!important;
        }
      }
      hr{
          @include leader(3);
          margin-bottom: -40px;
      }
      .api-sections {
        padding-top: 60px;
      }
      h1, h2, h3, h4, h5, h6, dl{
        @include rhythm(0,.5,0,.5);
        @extend .brand-font;
        &:hover a:not(.btn).documentation-anchor{
          opacity:.75;
        }
        a {
          border:none;
        }
        code{
          font-weight:normal;
        }
      }

      h1 {
        margin-top: 50px;
        border-bottom: solid 2px lighten($border-color, 10);
        padding-left: 5px;
      }

      h2 {
        border-bottom: solid 1px lighten($border-color, 10);
        margin-top: 30px;
        + h3 {
          padding-top: 0;
        }
        .small {
          font-size: 12px;
          line-height: 3.5em;
          font-weight: 300;
        }
        > a:not(.btn) {
          color: $font-color !important;
        }
      }

      h2 small, h2 small a {
        color: $gray-color;
        font-size: 12px;
        text-decoration: none !important;
      }

      h2 span.params {
        color: $gray-color;
      }

      p + pre {
        margin-top: -1em;
      }

      ol,
      ul{
        @extend .list;
      }

      dl{
        dt{
          float: left;
        }
      }

      blockquote{
          font-family:inherit;
          @include trailer(1);
          @include apply-side-rhythm-border('left', 3px, 1);
          border-color:$border-color;
      }

      ol{
        li{
          list-style-type: decimal;
        }
      }
      .highlight {
        border: 1px solid $border-color;
        @include border-radius(4px);
        max-width: 720px;
      }
      // table
      table {
        @include adjust-font-size-to(14px,1.2);
        width:100%;
        border-collapse: collapse;
        thead th{
          font-weight:bold;
        }
        tbody{
          @extend .gray-dark;
          width: 100%;
          display: table;
        }
        &.table {
          border: 1px solid $border-color;
          @include border-radius(4px);
          display: block;
          max-width: 720px;
          tr {
            border-bottom: 1px solid $border-color;
            &:last-child {
              border-bottom: none;
            }
            > td {
              &:first-child {
                border-left: none;
              }
            }
          }
        }
        th,
        td {
          padding: 6px 8px;
          border-left: 1px solid $border-color;
          vertical-align: top;
        }
        code {
          @include adjust-font-size-to(12px,1,13px);
          border-color:transparent;
          background-color:transparent;
        }
        .line-numbers,
        .code {
          border: none;
          padding: .25em .5em;
        }
        .line-numbers {
          border-left: none;
          background: $secondary-color;
          color: $border-color;
          text-align: center;
          width: 35px;
          pre {
            // text-align: center;
            // border: 1px solid $border-color;
            // border-right: none;
            // @include border-radius(4px 0 0 4px);
            // padding-left: .5em;
            // color: $gray-color;
            // background: $secondary-color;
          }
        }
        .code {
          @include background-image(
            linear-gradient(rgba($secondary-color,0), rgba($secondary-color,.5))
          );
          border-left: 1px solid $border-color;
          overflow: auto;
          max-width: 680px;
        }
      }

      > article {
        &:first-child {
          @include rhythm(0,0,0,1);
        }
        header {
          max-width: 720px;
          border-bottom: solid 1px lighten($border-color, 10);
          @include rhythm(0,0,0,.5);
          h2 {
            @include rhythm(0);
            border-bottom: none;
          }
        }
        .summary {
          @include adjust-font-size-to(12px);
          h1, h2, h3, h4, h5, h6, p {
            border-bottom: none;
            padding-left: 0;
            @include rhythm(0);
          }
        }
      }
      h1, h2, h3, h4, h5, h6, p, li {
        max-width: 720px;
      }
    }
  }

  .cell-4.gallery-item {
    min-height: 360px;
    padding-top: 40px;
    margin-left: 0;
    margin-right: 2.5%;
    h2 {
      border-bottom: none;
      margin: 0 auto;
    }
    &:last-child {
      float: left;
    }
  }
  .component {
    max-width: 720px;
    .pull-left:first-child {
      img {
        max-width: 42px;
        @include border-radius(4px);
      }
    }
    .hull-comments__form,
    .hull-comments__list {
      &:after {
        content: '';
        clear: both;
        display: block;
      }
    }
    .hull-comments__list {
      list-style: none;
      padding-left: 0;
      .pull-left {
        img {
          @include rhythm(1,0,0,0);
        }
      }
      .pull-right {
        padding-top: 1em;
      }
      h4 {
        margin-bottom: 0;
        font-weight: 500;
      }
      .hull-comments__description {
        color: $font-color;
      }
    }
    .media-body {
      float: left;
      width: 80%;
      width: -webkit-calc(100% - 56px);
      width: calc(100% - 56px);
      padding-left: 1em;
      color: $gray-color;
      line-height: 2.2;
      border-bottom: solid 1px lighten($border-color, 10);
      @include rhythm(0,0,1,0);
    }
    textarea[name="description"] {
      vertical-align: top;
      width: 100%;
      resize: vertical;
      margin-bottom: 1em;
    }
    button {
      padding: .5em 1.5em;
      display: block;
      margin-right: .5em;
      clear: left;
      float: left;
    }
    .alert-info {
      clear: left;
      display: block;
      font-style: italic;
      color: $border-color;
      @include rhythm(1,1,1,1);
      margin-left: 56px;
      margin-left: -webkit-calc(42px + 1em);
      margin-left: calc(42px + 1em);
    }
  }
}

.doc-loading,
.try-loading {
  @include position;
  background:image-url('doc-loading.gif') 50% 50% no-repeat;
  height:150px;
  display:block;
  &:after{
    @include position(absolute, 50% 0px 0 0px);
    @extend .gray;
    opacity:.75;
    margin-top:20px;
    font-size:13px;
    content:"Please wait.";
    text-align:center;
    display:block;
  }
  &.try-loading{
      height:252px;
      background-color:$white-color;
  }
}

.landing {
  #secondary-nav li:last-child {
    float: right;
    margin-top: 16px;
    padding-right: 16px;
  }
  .swiftype-widget .autocomplete {
    @include box-shadow(0 0 6px 2px rgba($shadow, .2));
  }
  .glow, #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #particles {
    background: $brand-color;
    height: 320px;
    // @include box-shadow(0 2px 8px rgba(0,0,0,0.2));
  }
  .hero-unit {
    position: relative;
    z-index: 99;
    .logo {
      @include rhythm(1,1,1,1);
      text-align: center;
    }
    .btn {
      background: $white-color;
      color: $brand-color;
      @include box-shadow(0 0 1px 1px rgba($brand-dark-color, 0));
      @include transition(all ease .3s);
      &:hover,
      &:focus {
        @include box-shadow(0 0 1px 1px rgba($brand-dark-color, .25));
        color: $brand-dark-color
      }
    }
    h1 {
      color: $white-color;
      @include text-shadow(0 2px 4px rgba($brand-dark-color, .3));
      @include rhythm(1);
      font-weight: 100;
      @include adjust-font-size-to(36px,2);
      letter-spacing: .05em;
    }
  }
  > header {
    @include position(fixed, 0px 0 0 0px);
    width: 100%;
  }
  section.documentation {
    z-index: 1;
    .cell-4.gallery-item {
      padding-top: 0;
    }
    > article {
      > .row {
        margin: 0 auto;
      }
      .documentation-body {
        background-image: none;
      }
    }
  }
  .documentation {
    > .header {
      @include rhythm(0,0,0,1);
      height: 320px;
    }
  }
  footer {
    clear: left;
  }
}
