body > header {
  @include position(fixed, 0px 0 0 $sidebar-width);
  height:60px;
  background: rgba($white-color, .95);
  border-bottom: 1px solid lighten($border-color, 10);
  padding: 0 2em;
  z-index:4;
  width: auto;
  right:0;
  
  form.search {
    display: inline;
    
    input {
      margin-left: 12px;
      font-size: 100%;
      padding: 2px 9px 2px 27px;
      height: 26px;
      background-position: 7px 6px;
      width: 150px;
    }
  }
}
