body > header {
  @include position(fixed, 0px 0 0 225px);
  height:60px;
  background: rgba($white-color, .95);
  border-bottom: 1px solid lighten($border-color, 10);
  z-index:4;
  padding: 0 2em;
  z-index:4;
  width: 100%;
  // calculate width of topbar minus width of sidebar
  width: -webkit-calc(100% - 225px);
  width: calc(100% - 225px);
  
  form.search {
    display: inline;
    
    input {
      margin-left: 12px;
      font-size: 100%;
      padding: 2px 9px 2px 27px;
      height: 26px;
      background-position: 7px 6px;
      width: 150px;
    }
  }
}