---
title: Aura
subtitle: A framework-agnostic, extensible architecture for decoupled and reusable components.
---

<div class="row">
  <% data.landing.each do |title, item| %>
    <div class="cell-4 gallery-item">
      <h2 class="title <%= item.icon %>">
        <%= item.title %>
      </h2>
      <p class="description">
        <%= item.description %>
        <br>
        <a href="<%= item.link %>" target="aura-example">See More &raquo;</a>
      </p>
    </div>
  <% end %>
</div>