@import "../partials/core/core";

/**
 * Module "Try"
 */



/* SHARED */
/* ----------------- */

// Clear the floats
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.media-object {
  display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin: 0 0 5px;
}


// Media image alignment
// -------------------------

.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  margin-left: 0;
  list-style: none;
  li{
      border-bottom:1px solid $border-color;
      @include trailer(1);
      @include padding-trailer(1);
  }
  .media-body > :last-child{@include trailer(0);}
}

// Well
.well {
  @include trailer(1);
  min-height: 20px;
  padding: 1em;
  background-color: $secondary-color;
  border: 1px solid darken($secondary-color, 7%);
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
  
}

// Utilities
.img-rounded{
    border-radius:4px;
    max-width:50px;
}

.media-heading{
  @include adjust-leading-to(1);
  font-weight:bold;
}

.muted{
    color:$gray-color;
}
.input-block-level{
  @include box-sizing(border-box);
  display:block;
  width:100%;
  @include trailer(1);
}

/* WIDGETS */
/* ----------------- */
.try-output{
    
    .btn{
        @include adjust-font-size-to(12px);
        @include rhythm-borders(0px, .5);
        padding-left:1em;
        padding-right:1em;
    }

    [data-hull-action="logout"].btn,
    [data-hull-action="fetchMore"].btn{
        @include button-flat($secondary-color);
    }

    /* Identity Comonent */
    .hull-identity__signin,
    [data-hull-widget="login_button@hull"]{
        @include pie-clearfix;
        .btn{
          margin-left:0;
          @include trailer(.5);
          float:left;
          clear: left;
        }
    }
    [data-hull-widget="identity@hull"]+[data-hull-widget="identity@hull"]{
        @include leader(1);
        @include padding-leader(1);
        border-top:1px solid $border-color;
    }

    .hull-identity__signout{
      h1{@include trailer(0)}
      .img-rounded{max-width:none;}
    }

    /* Comments */
    .hull-comments__description{
        @include adjust-font-size-to(14px);
        color:$gray-dark-color;
    }
    .hull-comments__form{
        @include trailer(2);
    }

    /* Friends */
    .hull-friends{
      .img-round{
        max-width: 50px;
      }
    }

    /* Activity */
    .hull-activity{
        .muted{
            @include adjust-font-size-to(12px);
        }
    }
}
